name: testing

on:
  push:
    branches:
      - master  # Set a branch to deploy
      - devel  # Set a branch to deploy
  pull_request:
    branches:
      - master  # Run tests on PRs to master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.154.0'
          extended: true

      - name: Build
        run: hugo

